html, body {
	margin: 0;
	padding: 0;
	background-color: #1d1e22;
	color: #1d1e22;
}

body {
	font-family: 'Inter', sans-serif;
	color: #666666;
	background-color: #ffffff;
	font-size: 16px;
	padding-bottom: 5rem;
}

h1 {
	font-size: 45px;
	color: #ff4c4c;
	text-align: center;
	margin-top: 0;
}

a {
	color: #ff4c4c;
	font-weight: 600;
	text-decoration: none;
}

a:hover {
	color: #ff9999;
}

i {
position: absolute;
padding: 0.75rem;
color: #ff4c4c;
}

span.icon {
position: absolute;
padding: 0.5rem;
right: 0;
}

.header {
	background-color: #ff4c4c;
	padding: 1rem;
	padding-bottom: 2.5rem;
}

.header__grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1.5rem;
	max-width: 56rem;
	margin: auto;
}

.header__logo {
	height: 4rem;
}

.content {
	padding: 2rem;
	width: 100%;
	margin: auto;
	max-width: 56rem;
}

.content__grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	column-gap: 1rem;
	row-gap: 2.5rem;
}

#imageOptions.content__grid {
grid-template-rows: repeat(2, minmax(0, 0.5fr));
}

.flex {
display: flex;
}

.flex-1 {
flex: 1 1 0%;
}

.relative {
position: relative;
}

.col-6-m3 {
grid-column: span 6 / span 6;
}

.col-12-s6-m4, .col-12-m6, .col-12-m8, .col-12 {
grid-column: span 12 / span 12;
}

.result {
max-width: 56rem;
}

.result__header {
display: flex;
justify-content: space-between;
margin-bottom: 1rem;
}

.divider {
border-width: 1px;
border-color: #ffffff;
margin-top: 2.5rem;
margin-bottom: 2.5rem;
height: 0;
}

input:disabled {
background-color: white;
}

.input {
border-width: 1px;
border-color: #cbd5e0;
border-radius: 0.25rem;
height: 2.5rem;
width: 100%;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

.input--left {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
margin-right: -1rem;
}

.input__icon {
padding-left: 2.5rem;
padding-right: 2.5rem;
}

.input__label {
margin-bottom: 0.5rem;
display: block;
}

.bttn {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
padding-left: 0.75rem;
padding-right: 0.75rem;
background-color: #ff4c4c;
border-width: 1px;
border-color: #ff4c4c;
margin-right: -0.5rem;
height: 2.5rem;
color:#fff;
}

.bttn.fill {
width: 50%;
}

.bttn:focus {
outline: 1px dotted;
}

.bttn:hover {
background-color: #ff9999;
}

.left {
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}

.right {
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
margin-right: 0;
}

.bttn.active {
background-color: #ff4c4c;
color: white;
border-width: 1px;
border-color: #ff4c4c;
}

.bttn__primary {
background-color: #ff4c4c;
color: white;
border-width: 1px;
border-color: #ff4c4c;
border-radius: 0.25rem;
font-size: 1.125rem;
padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 0.75rem;
padding-bottom: 0.75rem;
}

.bttn {
	background-color: #ff4c4c;
	border-color: #ff4c4c;
	color: white;
	transition: background-color 0.3s, border-color 0.3s;
}

/* Hover and active states */
.bttn:hover,
.bttn:active {
	background-color: #ff9999;
	border-color: #ff9999;
}

.codeblock {
border-width: 1px;
border-color: #cbd5e0;
border-radius: 0.25rem;
display: block;
padding: 0.75rem;
background-color: white;
}

#urlContainer {
display: none;
}

/* small breakpoint */
@media (min-width: 640px) {
.header {
padding: 2.5rem;
}
.header__grid {
grid-template-columns: repeat(2, minmax(0, 1fr));
grid-template-rows: repeat(2, minmax(0, 1fr));
}
.header__logo {
grid-column: span 2 / span 2;
}
.content {
padding: 2.5rem;
}
.content__grid {
column-gap: 1rem;
row-gap: 2.5rem;
}
.col-12-s6-m4 {
grid-column: span 6 / span 6;
}
}

/* medium breakpoint */
@media (min-width: 768px) {
.header__grid {
grid-template-columns: repeat(4, minmax(0, 1fr));
grid-template-rows: repeat(1, minmax(0, 1fr));
}
.header__logo {
grid-column: span 1 / span 1;
}
.col-6-m3 {
grid-column: span 3 / span 3;
}
.col-12-s6-m4 {
grid-column: span 4 / span 4;
}
.col-12-m6 {
grid-column: span 6 / span 6;
}
.col-12-m8 {
grid-column: span 8 / span 8;
}
.bttn {
padding-left: 1rem;
padding-right: 1rem;
}
}

#resultContainer {
display: none;
}
h1 {
   font-size: 45px;
}
#videostream {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #ffffff;
}

h1 {
	margin-top: 0;
	width: 100%;
}
#stopButton {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #ff4c4c;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

#startButton {
	margin-bottom: 5px;
	padding: 10px 20px;
	background-color: #ff4c4c;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
#stopButton:hover {
	background-color: #ff9999;
	border-radius: 5px;
}
#startButton:hover {
	background-color: #ff9999;
	border-radius: 5px;
}
#videoContainer {
	position: center;
	margin-bottom: 20px;
	height:auto;
	width: 80%;
	max-width: 800px;;
}
#screenVideo {
	width: 80%;
	max-width: 800px;
	height: auto;
	margin: 1px 0;
	border: 2px solid #333;
	margin-bottom:20px;
}

#canvasOverlay {
	position: center;
	top: 0;
	left: 0;
}

#video-frame {
	display: none;
}
.logo-image {
	width: 100px; 
	height: 100px;
	margin-right: 10px; 
}
.logo-container {
	display: flex;
	align-items: center;
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #ff4c4c;
	background-color: #ff4c4c;
}